<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FileUploader</title>
    <base href="~/" />
</head>
<body>

    <nav style="margin-bottom:20px">
        <a href="/">Home</a> |
        <a href="/Home/Analyze">Analyze Image</a>
    </nav>

    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>